.page {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.navigation {
    width: 24%;
    height: 100vh;
    position: fixed;
    background-color: #F6F6F6;
    box-shadow:
  0 7.1px 4.1px -73px rgba(0, 0, 0, 0.035),
  0 57px 33px -73px rgba(0, 0, 0, 0.07)
;
    img {
        width: 217px;
        position: relative;
        top: 24px;
        left: 24px;
    }
}


.account-button {
    width:  52px;
    height:  52px;
    border-radius: 50%;
    position: fixed;
    top: 24px;
    right: 94px;
    z-index: 1;
    box-shadow:
    0 3.3px 2.2px -26px rgba(0, 0, 0, 0.014),
    0 9px 6.1px -26px rgba(0, 0, 0, 0.02),
    0 21.7px 14.8px -26px rgba(0, 0, 0, 0.026),
    0 72px 49px -26px rgba(0, 0, 0, 0.04)
  ;
    &img{
        width: 52px;
        height: 52px;
    }
}

.cart-button {
    width:  52px;
    height:  52px;
    border-radius: 50%;
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 1;
    box-shadow:
    0 3.3px 2.2px -26px rgba(0, 0, 0, 0.014),
    0 9px 6.1px -26px rgba(0, 0, 0, 0.02),
    0 21.7px 14.8px -26px rgba(0, 0, 0, 0.026),
    0 72px 49px -26px rgba(0, 0, 0, 0.04)
  ;
    &img{
        width:  52px;
        height:  52px;
    }
}

#search {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 2.4rem;
    top: 124px;
}

.search-input{
    width: 216px;
    height: 16px;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    top: 125px;
    left: 84px;
    border: none;
    background-image:none;
    outline: none;
}

.white-line-search {
    width: 204px;
    height: 20px;
    position: absolute;
    top: 123px;
    left: 86px;
    background-color: white;
    color: black;
}

.btn-ok {

    position: absolute;
    top: 127px;
    left: 296px;
    font-weight: 500;
    border-bottom: 1px black solid;
    padding-bottom: 0px;


}


.results {
    width: 76%;
    height: auto;
    margin: 100px 12px 36px 12px;
    position: absolute;
    left: 24%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // column-gap: 6px;
    row-gap: 36px;
    // column-gap: 12px;
    justify-items: center;
    align-items: center;
}