.page {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.navigation {
    width: 33.6rem;
    height: 100vh;
    background-color: #F6F6F6;
    img {
        width: 217px;
        position: relative;
        top: 44px;
        left: 24px;
    }
}

#search {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 2.4rem;
    top: 18rem;
}

.whiteline {
    width: 21.6rem;
    height: 1.2px;
    background-color: white;
    position: absolute;
    top: 194px;
    left: 96px;
}


.result {
    width: auto;
    height: 100vh;
    background-color: #ffffff;
}
