.page {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.navigation {
    width: 25%;
    height: 100vh;
    background-color: #F6F6F6;
    img {
        width: 20rem;
    }
}

.result {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
