.card-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: fixed;
}

.cart-window {
    width: 1008px;
    height: auto;
    min-height: 300px;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 100px;
    opacity: 1;
    left: 50%;
    transform: translate(-50%,0); 
    display: grid;
    grid-template-columns: repeat(9, 1fr) ;
    grid-template-rows: repeat(20, 12px);
    row-gap: 12px;
    padding: 24px;
    column-gap: 12px;
    justify-items: center;
    align-items: center;

    h1 {
        grid-column: 1 / 4;
        grid-row: 1/4;
        font-size: 34px;
        font-weight: 600;
        justify-self: self-start;
    }
    #close-window {
        font-size:10px;
        grid-row: 1/4;
        grid-column: 8/10;
        justify-self: self-end;
        align-self: center;
        text-decoration: underline;
        color: black;
    
    }
    span {
        font-size: 12px;
        font-weight: 500;
    }
    .cart-productName {
        grid-column: 3 / 5;
        grid-row: 4/5;
    }
    .cart-price {
        grid-column: 6 / 7;
        grid-row: 4/5;
    }
    .cart-quantity {
        grid-column: 7 / 8;
        grid-row: 4/5;
    }
    .total {
        grid-column: 8 / 9;
        grid-row: 4/5;
    }
    .cart-results {
        width: 1008px;
        height: 380px;
        position: fixed;
        overflow: auto;
        min-height: 300px;
        grid-column: 1/10;
        grid-row: 1/auto;
        display: grid;
        grid-template-columns: repeat(9, 1fr) ;
        grid-template-rows: repeat(auto, 48px);
        row-gap: 12px;
        padding: 24px;
        column-gap: 12px;
        justify-items: center;
        align-items: center;
        align-content: start;
    span {
        font-size: 14px;
    }
    }
}

.cart-item-img {
    width: 96px;
    grid-column: 1 / 2;
    justify-self: flex-start;
    align-self: center;

}

.cart-item-product-name {
    grid-column: 3 / 5;
    justify-self: center;
    align-self: center;
    transform: translateX(-14px);
}

.cart-item-product-price {
    grid-column: 6 / 7;
    justify-self: center;
    align-self: center;
    transform: translateX(-24px);
}

.cart-item-product-quantity{
    grid-column: 7 / 8;
    justify-self: center;
    align-self: center;
    transform: translateX(-30px);
}

.cart-item-product-totalItem{
    grid-column: 8 / 9;
    justify-self: center;
    align-self: center;
    transform: translateX(-36px);
}

.btn-delete {
    grid-column: 9 / 10;
    // justify-self: center;
    // align-self: center;
    width: 15px;
    height: 15px;
    background-image: url("../assets/btn-delete-small-bw.svg");
    background-repeat: no-repeat;
    background-position: center;
}


#cart-total {
    font-size: 28px;
    font-weight: 500;
    grid-column: 6/8;
    grid-row: end;
}

#cart-total-sum {
    font-size: 28px;
    grid-column: 8/9;
    font-weight: 500;
    grid-row: end;
} 

.btn-order {
    width: 135px;
    height: 32px;
    grid-column: 9/10;
    grid-row: end;
    background-image: url("../assets/btn-Add-to-cart.png");
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    &:hover {
    background-image: url("../assets/btn-Add-to-cart-hover.svg");
    color: white;
    }
    &:active {
        background-image: url("../assets/btn-Add-to-cart.svg");
        color: white;
        }
}
button {
    border: none;
    background: none;
}

