.login-window {
    width: 504px;
    height: 340px;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 100px;
    opacity: 1;
    left: 50%;
    transform: translate(-50%,0); 
    display: grid;
    grid-template-columns: repeat(8fr, 1fr) ;
    grid-template-rows: repeat(4fr, 48px) .5fr;
    row-gap: 12px;
    padding: 24px;
    column-gap: 12px;
    justify-items: center;
    align-items: center;

    h1 {
        grid-column: 1 / 4;
        grid-row: 1/2;
        font-size: 34px;
        font-weight: 600;
        margin: 0px 0px 24px 0px;
        justify-self: start;
    }
    #close-window-login {
        font-size: 12px;
        grid-column: 7/9;
        grid-row: 1/2;
        justify-self: self-end;
        align-self: center;
        text-decoration: underline;
        color: black;

    }
    #email {
        grid-column: 1 / 2;
        grid-row: 2/3;
        font-size: 12px;
        font-weight: 500;
        justify-self: start;
    }

    .email-input {
        grid-column: 2 / 9;
        grid-row: 2/3;
        font-size: 12px;
        font-weight: 500;
        justify-self: start;
        width: 100%;
        height: 36px;
        font-size: 18px;
    }

    #password {
        grid-column: 1 / 2;
        grid-row: 3/4;
        font-size: 12px;
        font-weight: 500;
        justify-self: start;
    }

    .password-input {
        grid-column: 2 / 9;
        grid-row: 3/4;
        font-size: 12px;
        font-weight: 500;
        justify-self: start;
        width: 100%;
        height: 36px;
        font-size: 18px;
    }
}


.btn-login {
    width: 135px;
    height: 32px;
    grid-column: 7/9;
    grid-row: 4/5;
    justify-self: end;
    background-image: url("../assets/btn-Add-to-cart.png");

    background-repeat: no-repeat;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    &:hover {
    background-image: url("../assets/btn-Add-to-cart-hover.svg");
    color: white;
    }
    &:active {
        background-image: url("../assets/btn-Add-to-cart.svg");
        color: white;
        }
}
button {
    border: none;
    background: none;
}


#forgot-password {
    grid-column: 6/9;
    grid-row: 5/6;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    justify-self: end;
}